.Memate {
  font-family: "sequel_sans" !important;
  line-height: normal;
  font-style: normal;
  color: #29292b;
  font-size: 42px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  letter-spacing: -1px;
  font-family: "sequel_sans_semi_bold_disp" !important;
}
.parent {
  margin: 0 auto;
  max-width: 1300px;
  padding: 70.39px 51px;
}
.brandName {
  text-align: center;
}
.latest-update-text {
  font-family: "sequel_sans_bold_disp" !important;
  font-weight: 425;
  font-size: 120px;
  color: #000000;
  text-align: center;
  letter-spacing: 1px;
  line-height: 114px;
  font-style: normal;
}
.content1 {
  padding-left: 35px;
  padding-bottom: 47.48px;
  /* margin-top: 101px; */
  display: flex;
  gap: 10px;
}

.uldateListWrap:nth-child(even) {
  padding-left: 35px;
  padding-bottom: 47.48px;
  margin-top: 20px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 10px;
  border-radius: 30px;
  background: #f7f8fa;
}
.contextText ul li{
  position: relative;
}
.contextText ul{
  background: transparent !important;
}
.contextText ul li:before {
  position: absolute;
  content: "";
  background: #000;
  width: 8px;
  height: 8px;
  left: 0;
  top: 13px;
  border-radius: 15px;
}
.content3 {
  padding-left: 35px;
  padding-bottom: 47.48px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.date {
  background: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 425;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 0px;
  font-family: "sequel_sans_bold_disp" !important;
  line-height: normal;
  width: 250px;
  flex-shrink: 0;
  margin-top: 70px;
}
.contentText1 {
  font-size: 42px;
  font-weight: 420;
  line-height: normal;
  font-style: normal;
  color: #29292b;
  font-family: "sequel_sans_semi_bold_disp" !important;
}
.contextText {
  /* flex: 1; */
  padding-left: 3%;
  margin-top: 50px;
}
.contentText2 {
  letter-spacing: -1%;
  line-height: 140%;
  font-style: normal;
  color: #757b8a;
  font-size: 15px;
  padding-right: 2%;
  font-weight: 400;
  margin-top: 14px;
  font-family: "sequel_sans_roman_head" !important;
}
.contentText3 {
  line-height: normal;
  font-style: normal;
  color: #29292b;
  font-size: 31px;
  font-family: "sequel_sans_semi_bold_disp" !important;
  font-weight: 600;
  padding-top: 2%;
}
.contentText4 {
  font-weight: 400;
  letter-spacing: -1%;
  line-height: 140%;
  font-style: normal;
  color: #757b8a;
  font-size: 15px;
  font-family: "sequel_sans_roman_head" !important;
  padding-right: 6%;
  margin-top: 14px;
}
.word {
  color: #29292b;
  font-size: 15px;
  padding-right: 1%;
  font-weight: 400;
  letter-spacing: -1%;
  line-height: 140%;
}
.contentText5 {
  margin-top: 17px;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 13.55px;
}

.check-circle-icon {
  display: flex;
  align-items: center;
  height: 25.162px;
}
.contentText5-update {
  margin-top: 10.84px;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 13.55px;
}
.contentText6 {
  font-weight: 400;
  letter-spacing: -1%;
  line-height: 140%;
  font-style: normal;
  color: #757b8a;

  padding-top: 1%;
  font-size: 15px;
}
.contentText7 {
  font-weight: 400;
  letter-spacing: -1%;
  line-height: 140%;
  font-style: normal;
  color: #757b8a;

  padding-top: 1%;
  font-size: 15px;
}
.updateButton {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  display: flex;
  padding-top: 20px;
  /* height: 20vh; */
}
.btn {
  line-height: normal;
  color: #29292b;
  font-weight: 415;
  font-size: 18px;
  border-radius: 40px;
  padding: 20px 19.03px;
  cursor: pointer;
  align-self: stretch;
  background-color: white;
  font-family: "sequel_sans" !important;
}
.takeThe {
  color: #29292b;
  letter-spacing: -1px;
  line-height: normal;
  padding-top: 9%;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}
.nextStep {
  font-size: 220px;
  font-weight: 650;
  /* padding-left: 8%; */
  text-align: center;
  margin-top: 2px;
  background: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%);
  /* -webkit-background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.getStarted-btn-A {
  width: 168px;
  height: 52px;
  border-radius: 61px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: normal;
  /* text-align: center; */
  color: #ffffff;
  background-color: #29292b;
}
.getStarted-btn-container-A {
  text-align: center;
}

.software-word {
  font-family: "sequel_sans_roman_head" !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 360;
  line-height: 140%;
  color: #29292b;
}

.software-content {
  color: #757b8a;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 360;
  line-height: 140%;
}
