.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-platform h2 {
  color: #29292b;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 420;
  line-height: 49.56px;
  font-family: "sequel_sans_semi_bold_disp" !important;
  max-width: 741px;
  margin: auto;
}
.image-wrapper img {
  width: 100%;
}
.integration-brand-container img {
  width: 100%;
}
.heding-text-top {
  padding: 0px 0px 23px 0px;
}
.heding-text-top h1 {
  text-align: center;
  font-size: 220px;
  font-weight: 425;
  line-height: 184px;
  letter-spacing: 1px;
  font-family: "sequel_sans_bold_disp" !important;
  font-weight: 700;
}

h1.text {
  background: linear-gradient(to right, #1ab2ff 10.15%, #ffb258 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
}

.big-img-mac {
  position: relative;
}

.iphone-image {
  position: absolute;
  right: 123px;
  bottom: 28px;
}

.create-new-text {
  position: absolute;
  bottom: 67px;
  left: -27px;
}

.metric-item {
  position: absolute;
  bottom: 5px;
  left: -90px;
}

.macBook-image {
  width: 1060px;
  margin-left: 10svw;
}
.image-wrapper {
  width: 100%;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.to-replace-bold-text{
  margin-top: 10px;
}
.how-to-use p {
  color: #29292b;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 420;
  line-height: 35px;
  font-family: "sequel_sans_semi_bold_disp" !important;
  margin: 0px;
}

.how-to-use {
  margin-top: 48px;
}

.businesses-mode span {
  color: #757b8a;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 360;
  line-height:25.2px;
  font-family: "sequel_sans_roman_head" !important;
}

.businesses-mode {
  margin-top: 26px;
}

.request-btn {
  margin-top: 30px;
  cursor: pointer;
  position: relative;
}
.request-btn .btn-base--black {
  background: #353535;
}
.request-btn .btn-base--black .text-btn--nav {
  color: #fff;
  white-space: nowrap;
}


.request-btn .text-btn--nav {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 415;
  line-height: 21.24px;
  cursor: pointer;
  outline: none;
  font-family: "sequel_sans" !important;
}

@media screen and (max-width: 767px) {
  .home-platform h2 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}
.home-page-content {
  padding: 0px 15px;
}
  .home-platform h2 br, .heding-text-top h1 br{
    display: none;
  }
  .heding-text-top h1 {
    font-size: 32px;
    line-height: 40px;
}
.heding-text-top {
  margin-top:0px;
}
.heding-text-top {
  padding: 0;
}
.how-to-use p {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}
.to-replace-bold-text {
  margin-bottom: 5px;
}
.sliderTabWrapper .slick-slide {
  margin: 20px 15px !important;
}
.businesses-mode {
  margin-top: 0px;
  text-align: center;
}
.image-wrapper svg {
  height: auto;
  margin-top: 30px;
}
.how-to-use {
  margin-top: 25px;
}

}
@media screen and (max-width: 992px) and (min-width: 768px){
  .heding-text-top h1 {
    font-size: 68px;
    line-height: 74px;
}
.heding-text-top h1 br {
  display: none;
}
.image-wrapper svg {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
}
@media screen and (max-width: 1180px) and (min-width: 1024px){
  .heding-text-top h1 br{
    display: none;
  }
  .heding-text-top h1 {
    font-size: 100px;
    line-height: 110px;
}
}