html {
    scroll-behavior: smooth;
}
/* changed */
.kb-section-wiki-description, h2,p,span{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%; 
    font-family: sequel_sans_roman_head !important;
}
a span{
    color: #29292b;
}

.kb-section-wiki-heading {
    color: #29292B;
    font-size: 30px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    margin-top: 38px;
    margin-bottom: 14px;
}
.kb-right-section div:first-child .kb-section-wiki-heading {
    padding-top: 0;
    margin-top: 0;
}
.kb-right-section p b {
    margin: 7px 0 0px;
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
}
.kb-right-section p  {
    margin: 0px 0 16px;
}
.kb-section-wiki-description b {
    color: #29292B;
    font-size: 30px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    margin-bottom: 9px;
    display: inline-block;
    margin-top: 15px;
}
.kb-right-section p div br {
    display: none;
}
.kb-right-section p div {
    margin-bottom: 8px;
}
.loaderBarCircle{
    display: flex;
    justify-content: center;
}

.kb-tos-wrapper.highlight-words {
    max-height: 365px !important;
    margin-bottom: 40px;
}

.kb-list-item-active:before {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #1ab2ff 10.15%, #ffb258 69%);
    transition: width 0.3s ease, height 0.3s ease, background 0.3s ease;
    width: 4px;
    height: 33px;
    left: -4px;
    border-radius: 16px;
}

.button, button, a {
    cursor: pointer !important;
    color: #106B99;
}