.industry-powerful-streamline-wrapper {
  max-width: 1200px;
  width: 100%;
  background-image: url("https://memate-website.s3.ap-southeast-2.amazonaws.com/assets/industry-category-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 60px 52px 60px 0px;
  height: auto;
}

.industry-powerful-streamline-content-wrapper {
  margin-left: auto;
  width: 100%;
  height: auto;
  max-width: 449px;
}
.industry-powerful-streamline-wrapper-heading {
  color: #fff;
  font-family: "sequel_sans_roman_disp" !important;
  font-size: 21px;
  font-style: normal;
  font-weight: 410;
  line-height: 100%; /* 21px */
  letter-spacing: -0.21px;
}

.industry-powerful-streamline-wrapper-sub-heading {
  margin-top: 24px;
  color: #fff;
  font-family: "sequel_sans" !important;
  font-size: 38px;
  font-style: normal;
  font-weight: 415;
  line-height: normal;
  letter-spacing: -1px;
}

.industry-powerful-streamline-wrapper-large-heading {
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "sequel_sans_semi_bold_disp";
  font-size: 58px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  letter-spacing: -1px;
}

.industry-powerful-streamline-wrapper-description {
  color: #fff;
  margin-top: 40px;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 360;
  line-height: 140%; /* 28px */
}
@media screen and (max-width: 767px) {
  .industry-bussiness-category-wrapper {
    margin-top: 15px;
}
.industry-powerful-streamline-wrapper {
  padding: 15px;
}
.industry-powerful-streamline-content-wrapper {
  max-width: 100%;
}
.industry-workflow-wrapper {
  width: 100%;
  padding: 15px;
  margin-top: 0;
}
}