.tos-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}
.termsOfUse-section .kb-section-description ul li strong {
  color: #3F3F3F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.tos-list {
  list-style: none;
  width: 220px;
}
.termsOfUse-section {
  gap: 0px !important;
}
.termsOfUse-section .kb-section-description ul li {
  list-style: none;
}
.termsOfUse-section .kb-section-description ul li ul li {
  list-style: disc;
  margin-left: 29px;
}
.termsOfUse-section .kb-section-description {
  margin-bottom: 0;
}
.termsOfUse-section .kb-section-heading {
  color: #29292B;
  font-size: 33px !important;
  font-style: normal;
  font-weight: 420;
  line-height: 150%;
}
.tos-list-item-active {
  font-family: "sequel_sans_bold_disp" !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 425;
  line-height: normal;
  background: linear-gradient(90deg, #1ab2ff 0%, #ffb258 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tos-list-item {
  color: #29292b;
  font-family: "sequel_sans_bold_disp" !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 425;
  margin-bottom: 30px;
  line-height: normal;
}

.kb-tos-wrapper {
  max-height: 420px;
  margin-bottom: 40px;
}
.tos-list-item a {
  color: #29292b !important;
  text-decoration: none;
}
.tos-nested-list {
  list-style: none;
  margin-left: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tos-nested-list-item {
  color: #757b8a;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 17px;
  -webkit-text-fill-color: #757b8a;
  font-style: normal;
  font-weight: 360;
  line-height: 140%; /* 23.8px */
}
.tos-nested-list-item:first-child {
  margin-bottom: 20px;
}

.tos-right-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 56px;
}

.tos-section-heading {
  color: #29292b;
  font-family: "sequel_sans_bold_disp" !important;
  font-size: 42px;
  font-style: normal;
  margin-bottom: 12px;
  font-weight: 420;
  line-height: normal;
}
.kb-section-description ul li {
  margin: 0 11px;
  padding: 5px 0;
  color: #3F3F3F;
font-size: 16px;
font-style: normal;
font-weight: 360;
line-height: 150%; 
}
.tos-section-description {
  color: #3f3f3f;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 360;
  line-height: 150%; 
}
/* p {
  color: #3f3f3f;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 360;
  line-height: 150%; 
} */
.kb-section-description p strong {
  margin-top: 24px;
  color: #3F3F3F;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
display: inline-block;
}
.kb-right-section h3 {
  color: #29292b;
  font-family: "sequel_sans_semi_bold_disp" !important;
  font-size: 31px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.tos-horizontal-line {
  background-color: #f7f8fa;
  border-radius: 30px;
  width: 4px;
  height: 500px;
  margin-right: -60px;
}

.tos-horizontal-line-active {
  background: radial-gradient(20225.43% 247.16% at -75% -2.63%, #1ab2ff 0.15%, #ffb258 100%);
  width: 4px;
  height: 19px;
  border-radius: 30px;
}

.tos-header {
  width: 1200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tos-header-section-sub-heading {
  font-size: 120px !important;
  margin-top: -16px;
}

.tos-right-section:last-child{
  margin-bottom: -100px;
}
@media screen and (max-width: 767px) {
  .tos-header {
    height: auto;
    width: 100%;
  }
  .tos-header-section-sub-heading {
    font-size: 40px!important;
    margin-top: 0px;
}
}
