.navbar {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 3.5px 120px;
  justify-content: center;
  align-items: center;
  top: 0px;
  position: fixed;
  z-index: 20;
  background: rgba(255, 255, 255, 0.20);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 72px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* .header-menu-header-div-menu-component a:hover ,.navbar .navbar-item  a:hover p ,.navbar .navbar-item  p:hover{
  background: radial-gradient(1940.26% 124.88% at 0% 15.21%, #1AB2FF 0%, #FFB258 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navbar-container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.navbar-logo-wrapper {
    cursor: pointer;
}

.navbar-logo-wrapper img {
    width: 77.04px;
    height: 39.4px;
}

.navbar-log-in {
  cursor: pointer;
    position: relative;
    width: 138px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 60px;
    background-color: white; /* Adjust as needed */
    z-index: 1; /* Ensures the content stays on top */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-log-in::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 60px;
    padding: 3px; 
    background: linear-gradient(#24B3F8, #FFB258);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0); 
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude; 
    -webkit-mask-composite: destination-out;
    z-index: -1; 
}


.nav-bar-login div {
    color: #29292B;
    text-align: center;
    font-family: "sequel_sans" !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
}

.navbar-link {
    text-decoration: none;
}
.navbar-item {
    cursor: pointer;
    margin-right: 40px;
}

.navbar-item-active {
  background: radial-gradient(1940.26% 124.88% at 0% 15.21%, #1AB2FF 0%, #FFB258 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-item p{
    color: #29292B;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "sequel_sans_semi_bold_disp";
    font-size: 16px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
}

.header-navbar-container {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.header {
    padding: 0 2% 0 2%;
    position: relative;
}
  
  .header-flex-cont {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    margin: auto;
  }
  
  .header-logo-wrapper {
    cursor: pointer;
  }
  
  /* .header-navbar-container {
    height: 72px;
    width: 548px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1.444px solid #e9ebf0;
    background: #fff;
    padding: 5px;
  } */
  
  .header-navbar-item {
    padding-left: 21px;
    padding-right: 21px;
    cursor: pointer;
    width: 146px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-navbar-item p {
    color: #29292B;
    font-family: "sequel_sans_semi_bold_disp" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
  }
  .header-navbar-item a {
    text-decoration: none;
  }
  .header-navbar-item .about-drop {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  /* .header-navbar-item-about p {
    margin-left: 33px;
    font-size: 17px;
    font-weight: 420;
    line-height: normal;
    font-style: normal;
    color: #29292b;
    font-family: "sequel_sans_semi_bold_disp" !important;
  }
  .header-navbar-item-about span {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  button.border-gradient {
    position: relative;
    border: 3px solid transparent;
    background: #fff;
    background-clip: padding-box;
    border-radius: 60px;
    padding: 7px 31px;
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    font-family: "sequel_sans" !important;
    line-height: normal;
    outline: none;
    max-height: 52px;
    max-width: 138px;
    cursor: pointer;
    height: 52px;
    width: 138px;
  }
  
  button.border-gradient::after {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: linear-gradient(to top, #ffb258 14%, #24b3f8 109%);
    z-index: -1;
    border-radius: 60px;
  }
  
  .header-menu-wrapper {
    position: absolute;
    max-width: 1198px;
    width: 100%;
    height: auto;
    top: 71px;
    border-radius: 30px;
    border: 1.444px solid #e9ebf0;
    background: #fff;
    z-index: 12;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
  
  .header-navbar-item-active {
    /* background: linear-gradient(to top, #ffb258 14%, #24b3f8 109%); */
    color: white;
    background-image: url('../../assests/menu-images/selected-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 12px;
  }
  
  .header-navbar-item-active p {
    color:white;
  }
  
  
  
  .about-drop span {
    /* margin-bottom: 1px; */
  }
  
  .header-menu-header-div {
    width: 100%;
    display: flex;
    padding-left: 25px;
  }
  
  .header-menu-header-div-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 30px;
  }
  .header-menu-header-div-menu-component {
    padding-top: 35px;
    max-width: 800px;
    width: 100%;
  }
  .header-menu-item {
    display: flex;
    width: 216px;
    padding: 11px 14px 10px 9px;
    /* background: linear-gradient(to top, #ffb258 14%, #24b3f8 109%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 12px;
    justify-content: space-between;
  }
  
  .header-menu-item-desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .header-menu-item-desc-unselected {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-menu-item-name-selected {
    font-feature-settings: "liga" off, "clig" off;
    font-family: "sequel_sans_semi_bold_disp" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    text-align: top;
    width: 120px;

    background: radial-gradient(1940.26% 124.88% at 0% 15.21%, #1AB2FF 0%, #FFB258 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .navbar-log-in a {
    color: #29292B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    
}
.menu-feature-text a {
  color: #29292b;
  text-decoration: none;
}
.navbar-log-in:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.menu-feature-management a:hover {
  background: radial-gradient(at left top, #1AB2FF 0%, #FFB258 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-item-flex-item {
  display: flex;
  align-items: center;
}
.navbar-item-flex-item svg {
  margin-left: 5px;
  margin-top: 3px;
}
.header-footer-legal a {
  text-decoration: none;
}
.header-menu-icon-wrapper a {
  color: #29292b;
  text-decoration: none;
}
  .menu-news a:hover {
    background: radial-gradient(at left top, #1AB2FF 0%, #FFB258 100%) !important;
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent !;
  }
  .menu-news a:hover span,
  .menu-news a:hover div,
  .menu-news a:hover p,
  .menu-news a:hover button
  {
   color: #fff;
   border-color:  #fff;
  }
  .menu-next-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-next-icon-wrapper-unselected {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-menu-item-unselected {
    display: flex;
    width: 216px;
    padding: 11px 14px 10px 9px;
    justify-content: space-between;
  }
  
  .header-menu-item-name-unselected {
    color: #29292b;
    font-feature-settings: "liga" off, "clig" off;
    font-family: "sequel_sans_semi_bold_disp" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    text-align: top;
    width: 120px;
  }
  
  .header-menu-icon-wrapper {
    display: flex;
    gap: 14px;
  }
  .header-menu-footer-div {
    padding: 23px 40px 23px 40px;
    /* margin-top: 30.5%; */
    border-top: 1px solid #e9ebf0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-menu-footer-left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header-footer-legal {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    height: 16px;
  }
  .header-footer-legal-text {
    color: #888e9e;
    font-family: "sequel_sans_roman_head" !important;
    font-size: 17px;
    font-style: normal;
    font-weight: 360;
    line-height: 140%; /* 23.8px */
    letter-spacing: -0.17px;
  }
  
  .header-footer-legal-text-selected {
    color: #888e9e;
    font-family: "sequel_sans_roman_head" !important;
    font-size: 17px;
    font-style: normal;
    background: linear-gradient(to bottom, #1ab2ff 39.15%, #ffb258 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 360;
    line-height: 140%; /* 23.8px */
    letter-spacing: -0.17px;
  }
  
  .header-menu-header-div-memate-component {
    padding-top: 30px;
    padding-left: 26px;
    padding-right: 31px;
    padding-bottom: 20px;
    border-left: 1px solid #e9ebf0;
    height: 449px;
  }
  
  .header-menu-memate-feature {
    margin-top: 31.39px;
  }
  
  .header-menu-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.73px;
    height: 11px;
  }
  
  .header-menu-features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.73px;
    margin-top: 15px;
    margin-right: auto;
    height: 11px;
  }
  .header-menu-feature-text {
    font-family: "sequel_sans_roman_head" !important;
    color: #888e9e;
    font-size: 16px;
    font-style: normal;
    font-weight: 360;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.16px;
  }
  
  .header-menu-feature-texts {
    font-family: "sequel_sans_roman_head" !important;
    color: #888e9e;
    font-size: 16px;
    font-style: normal;
    font-weight: 360;
    line-height: 120%; /* 19.2px */
    width: 164px;
    letter-spacing: -0.16px;
  }
  
  .request-a-button-wrapper {
    cursor: pointer;
    margin-top: 40px;
  }
  .mobilemenu-wrapper{
    display: none;
  }
  @media screen and (max-width: 767px) {
    .navbar{
      display: none;
    }
    .mobilemenu-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
  }
  nav.nav-menu.visible {
    display: block;
}
.nav-menu {
  width: 320px;
}
  }
  @media screen and (max-width: 992px) and (min-width: 768px){
    .navbar-container {
      width: 100%;
  }
  .navbar {
    padding: 15px 30px;
}
  }