.sales-component-feature-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  flex-direction: column;
}

.sales-component-feature h2 {
  color: #29292b;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  margin: 0px;
  font-family: sequel_sans_roman_head!important;
}



.sales-feature-wrapper{
  margin-top: 84px;
  max-width: 1200px;
}
