.mainHeadinstyle{
    margin-bottom: 101px;
   h5 {
        font-family: "sequel_sans" !important;
        line-height: normal;
        font-style: normal;
        color: #29292b;
        font-size: 42px;
        font-style: normal;
        font-weight: 420;
        line-height: normal;
        letter-spacing: -1px;
        font-family: "sequel_sans_semi_bold_disp" !important;
    }
  h2 {
        font-family: "sequel_sans_bold_disp" !important;
        font-weight: 425;
        font-size: 120px;
        color: #000000;
        text-align: center;
        letter-spacing: 1px;
        line-height: 114px;
        font-style: normal;
    }
}

.privacyWrapper{
    .privacysubHeading{
    color: #3F3F3F;
    leading-trim: both;
    text-edge: cap;
    font-family: "Sequel Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 370;
    line-height: 150%; 
}
}
