.kb-main-section {
    position: relative;
    /* padding-top: 364px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kb-main-section .kb-main-heading {
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "sequel_sans_bold_disp";
    font-size: 220px;
    font-style: normal;
    font-weight: 425;
    line-height: 164px; /* 74.545% */
    letter-spacing: 1px;
    padding-top: 354.2px;
    padding-bottom: 142px;
}

.kb-main-section .kb-main-heading {
    background: linear-gradient(to right, #1ab2ff 10.15%, #ffb258 69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kb-main-section .kb-main-image {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-65%);
}
@media screen and (max-width: 767px) {
    .kb-main-section .kb-main-heading {
        font-size:32px;
        line-height: 40px;
    }
    .kb-main-heading br {
        display: none;
    }
    .kb-main-section {
        padding: 0 15px;
      }
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .kb-main-section .kb-main-heading {
        font-size: 140px;
        line-height: 146px;
        padding-bottom: 50px;
    }
    .kb-main-section .kb-main-image {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1180px) and (min-width: 1024px){
    .kb-main-section .kb-main-heading {
        font-size: 170px;
        line-height: 176px;
        padding-bottom: 50px;
    }
    .kb-main-section .kb-main-image {
        transform: translateX(-50%);
    }
}
