.client-prof {
  position: relative;
}

.client-prof img {
  width: 100%;
  object-fit: scale-down;
}

p.ownwers-disp {
  color: #fff;
  font-family: "Inter", sans-serif !important;
  font-size: 23.618px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin: 0px;
  position: absolute;
  bottom: 13px;
  left: 23px;
  text-align: left;
}
.post-card-description {
  width: 333px;
  height: 47px;
  text-align: left;
  word-wrap: break-word;
  position: absolute;
  bottom: 13px;
  left: 23px;
  white-space: normal;
}
