.onboarding-section {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboarding-section-content {
  max-width: 1200px;
}

.offer-opt {
  background: linear-gradient(to right bottom, #1ab2ff -9.85%, #ffb258 95%);
  border-radius: 30px;
  padding: 0px;
}

.sab-heading h2 {
  color: #fff;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
  font-family: "sequel_sans_bold_disp" !important;
  margin-bottom: 0px;
}

.sab-heading {
  padding-top: 80px;
}

.sab-heading h1 {
  color: #fff;
  text-align: center;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 110px;
  font-family: "sequel_sans_black_disp" !important;
  margin-top: 1px;
  margin-bottom: 0px;
}

.sab-heading p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 360;
  line-height: 25.2px;
  font-family: "sequel_sans_roman_head" !important;
  max-width: 471px;
  margin: auto !important;
  padding-top: 35px !important;
}

button.book-a-demo {
  cursor: pointer;
  border-radius: 60px;
  border: 1px solid var(--Gray-900, #fff);
  outline: none;
  padding: 7px 36px;
  background: transparent;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color:  #101828;
  font-size: 18px;
  height: 53px;
  font-style: normal;
  font-weight: 415;
  line-height: normal;
  margin-top: 30px;
  font-family: "sequel_sans" !important;
}

.button-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-screen-shot {
  padding: 0;
  margin: 0;
}

.offer-screen-shot img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}
@media screen and (max-width: 767px) {
  .onboarding-section {
    margin-top:20px;
    display: block;
    padding: 0 15px;
}
.onboarding-section-content {
  max-width: 100%;
}
.offer-opt {
  padding: 0px 15px;
}
.offer-screen-shot {
  margin-top: 15px;
}
.sab-heading h2 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -1px;
}
.sab-heading h1 {
  font-size: 50px;
  line-height: 58px;
}
.sab-heading {
  padding-top: 30px;
}
.sab-heading p {
  font-size: 18px;
  padding-top: 10px !important;
}
}
@media screen and (max-width: 992px) and (min-width: 768px){
  .onboarding-section {
    margin-top:15px;
    padding: 0 15px;
}
.sab-heading h1 {
  font-size: 80px;
  line-height: 90px;
}
.sab-heading {
  padding-top: 30px;
}
}
@media screen and (max-width: 1180px) and (min-width: 1024px){
  .onboarding-section {
    margin-top: 0px;
    padding: 0 15px;
  }
}
