.feature-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 106px;
}

.features-section {
    width: 1200px;
}

.memate h2 {
    color: #29292B;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    letter-spacing: -1px;
    margin: 0px;
    font-family: "sequel_sans_semi_bold_disp" !important;
}

.memate h1 {
    background: linear-gradient(to right, #1AB2FF 33.15%, #FFB258 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    text-align: center;
    font-size: 118px;
    font-style: normal;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: -6px;
    font-family: "Inter", sans-serif !important;
}


.stream-line {
    border-radius: 30px;
    background: #F7F8FA;
}

.heading-margin {
    margin-bottom: 70px;
}

.main-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 30px;
    padding-right: 49px;
}
.operation-left {
    padding: 50px;
    text-align: left;
}

.operation-left h1 {
    color: #29292B;
    font-size: 58px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    letter-spacing: -1px;
    font-family: 'sequel_sans_semi_bold_disp' !important;
    margin: 0px;
    margin-bottom: 40px;
}

.operation-left h2 {
    color: #29292B;
    font-size: 38px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    letter-spacing: -1px;
    font-family: 'sequel_sans' !important;
    margin: 0px;
    line-height: 25px;
}

p.all-text {
    color: #242122;
    font-size: 21px;
    font-style: normal;
    font-weight: 410;
    line-height: 100%;
    letter-spacing: -0.21px;
    font-family: 'sequel_sans_roman_disp' !important;
    margin-bottom: 11px;
}

.operation-desp p {
    color: #888E9E;
    font-size: 20px;
    font-style: normal;
    font-weight: 360;
    line-height: 28px;
    max-width: 450px;
    text-align: left;
    margin-bottom: 48px;
    font-family: "sequel_sans_roman_head" !important;
}

button.get-started-btn {
    margin-top: 0px;
    border-radius: 60px;
    border: 1px solid var(--Gray-900, #101828);
    outline: none;
    padding: 13px 10px;
    background: transparent;
    color: var(--Gray-900, #101828);
    text-align: center;
    -webkit-text-stroke-color: var(--Gray-900, #101828);
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    font-family: 'sequel_sans' !important;
    display: flex;
    contain: content;
    justify-content: center;
    width: 168px;
    min-height: 52px;
    text-decoration: none;
    /* margin: 0 auto; */
}
.large-image-container a{
    text-decoration: none;
}
.operation-right h1 {
    background: linear-gradient(to right, #1AB2FF 33.15%, #FFB258 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    text-align: center;
    font-size: 158.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;
    font-family: "Inter", sans-serif !important;
}

.max-image {
    position: absolute;
    top: 36px;
    right:56px;
}
@media screen and (max-width: 767px) {
    .memate h2 {
        font-size: 42px;
        line-height:48px;
    }
    .memate h1, .operation-right h1 {
        font-size: 70px;
        line-height:76px;
    }
    .heading-margin {
        margin-bottom: 15px;
    }
    .feature-section-container {
        margin-top: 30px;
    }
    .operation-desp p {
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
    }
    .operation-left h2 {
        font-size: 26px;
        line-height:32px;
    }
    .operation-left {
        padding: 0;
    }
    .main-operation, .boost-profits {
        display: block;
        padding:30px 20px;
    }
    .max-image, .mac-with-iphone img {
        position: inherit;
        margin-top: 30px;
    }
    .max-image img, .mac-with-iphone img, .motivate-image img {
        width: 100%;
    }
    .operation-left h1 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .all-in-one {
        padding: 0 15px;
    }
    .operation-right {
        margin-top: 20px;
    }
    .efficiency-section {
        max-width: 100%;
    }
    .main-operation {
        margin-top: 20px;

    }
    p.all-text, .operation-left h2, .operation-desp p, .operation-left h1 {
        text-align: center;
    }
    button.get-started-btn {
        margin: 0 auto !important;
    }
    .brand-names img {
        width: 70px;
    }
    .slider-container.sliderTabWrapper.sliderTabWrapperApp .slick-slide.slick-active.slick-current {
        position: relative;
        border: 3px solid transparent;
        background: #fff;
        background-clip: padding-box;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 25px !important;
        border-color: linear-gradient(to top, #ffb258 14%, #24b3f8 109%);
        padding: 12px 18px;
        border-radius: 20px;
        border: 1px solid transparent;
        cursor: pointer;
        min-width: 132px;
        height: 90px;
    }
    .slider-container.sliderTabWrapper.sliderTabWrapperApp .slick-slide.slick-active.slick-current:before {
        content: "";
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        background: linear-gradient(to top, #ffb258 14%, #24b3f8 109%);
        z-index: -1;
        border-radius: 25px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .features-section, .operation-desp p {
        width: 100%;
        max-width: 100%;
    }
    .main-operation {
        display: block;
        margin-top: 30px;
        padding-right: 0;
    }
    .operation-left {
        padding-bottom: 0px;
    }
    .all-in-one {
        padding: 0 15px;
    }
    .max-image {
        position: inherit;
        text-align: center;
    }
    .feature-section-container {
        margin-top: 30px;
    }
    .heading-margin {
        margin-bottom: 30px;
    }
}