.mainMenuPages{
    .mainHeadTitle{
        text-align: center;
        padding: 30px 0 120px;
        h1{
           
            background: linear-gradient(to right, #1ab2ff 10.15%, #ffb258 69%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0px;
            text-align: center;
            font-size: 220px;
            font-style: normal;
            font-weight: 700;
            line-height: 230px; 
            
        }
        p{
            color: #757B8A;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 360;
            line-height: 140%; 
        }
    }
    .mainGridWrap{
        width: 1200px;
        margin: 0 auto 92px;
        h2{
            color: #29292B;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 24px;
        }
        .mainGridwtapFlex{
            .itemFlex{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                border-radius: 30px;
                background: #F7F8FA;
                width: 383px;
                padding: var(--spacing-3xl, 24px);
                justify-content: center;
                align-items: flex-start;
                gap: var(--spacing-md, 16px);
                cursor: pointer;
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 30px;
                    padding: 1px;
                    background: linear-gradient(#24B3F8, #FFB258);
                    mask: linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    -webkit-mask-composite: destination-out;
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                &:hover::before {
                    opacity: 1; 
                    z-index: 9;
                    border-radius: 30px;
                   
                  }
                &:hover {
                    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
                   
                  }
                .itemicon{
                    margin-top: 7px;
                    position: relative;
                    .withoutHover{
                        position: absolute;
                    }
                   
                }
               p{
                color: #888E9E;
                font-size: 16px;
                font-style: normal;
                font-weight: 360;
                line-height: 140%; 
               }             }
        }
        .mainGridwtapFlex{
            column-gap: 15px;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            row-gap: 15px;
        }
    }
}



.ResourcesPages{
    .itemFlex{
        justify-content: flex-start !important;
    }
}