.slider-section {
  width: 100%;
  overflow: hidden;
}

.success-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.NewsflexBox {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
}
.Newsitem a img {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  background: #F7F8FA;
}
.Newsitem .customerstoriesitem a {
  color: var(--ios-status-bar-status-bar-text-color, #000);
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
}
.Newsitem .customerstoriesitem {
  margin-top: -4px;
}




.NewsflexWrap {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  width: 1200px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: flex-start;
  justify-content: center;
}
.NewsflexWrap .itemHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 30px;
}


.NewsflexWrap .itemHead span {
  color: #29292B;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}
.NewsflexWrap .itemHead a {
  color: var(--Primary-500, #1AB2FF);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 415;
  line-height: normal;
  text-decoration: none;
}
.NewsflexWrap .Newsitem .imgBox a img {
  width: 100%;
  border-radius: 10px;
  height: 128px;
  object-fit: cover;
}

.NewsflexWrap .Newsitem .imgBox {
  width: 164px;
}
.NewsflexWrap .Newsitem li {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
}
.NewsflexWrap .textBox span {
  color: #888E9E;
  font-size: 12px;
  font-style: normal;
  font-weight: 360;
  line-height: 140%;
}
.NewsflexWrap .textBox h2, .NewsflexWrap .textBox a {
  color: #29292B;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}
  
.NewsflexWrap .textBox a {
  color: var(--Primary-500, #1AB2FF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-top: 11px;
  display: inline-block;
}
.softwareWrp li {
  list-style: none;
  text-align: left;
  margin-bottom: 44px;
}
.softwareWrp li h3 {
  color: #29292B;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.softwareWrp li span {
  color: #888E9E;
  font-size: 12px;
  font-style: normal;
  font-weight: 360;
  line-height: 140%; 
}