.mainMenuPages{
    .mainHeadTitle{
        text-align: center;
        padding: 30px 0 120px;
        h1{
           
            background: linear-gradient(to right, #1ab2ff 10.15%, #ffb258 69%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0px;
            text-align: center;
            font-size: 220px;
            font-style: normal;
            font-weight: 700;
            line-height: 230px; 
            
        }
        p{
            color: #757B8A;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 360;
            line-height: 140%; 
        }
        @media screen and (max-width: 767px) {
            .mainMenuPages{
                padding: 15px 0 !important;  
            }
            h1{
                font-size: 66px;
                line-height: 72px;   
            }
        }
    }
    .mainGridWrap{
        width: 1200px;
        margin: 0 auto 92px;
        h2{
            color: #29292B;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 24px;
        }
        .mainGridwtapFlex{
            .itemFlex{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                border-radius: 30px;
                background: #F7F8FA;
                width: 383px;
                padding: var(--spacing-3xl, 24px);
                justify-content: center;
                align-items: flex-start;
                gap: var(--spacing-md, 16px);
                cursor: pointer;
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 30px;
                    padding: 1px;
                    background: linear-gradient(#24B3F8, #FFB258);
                    mask: linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    -webkit-mask-composite: destination-out;
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                &:hover::before {
                    opacity: 1; 
                    z-index: 9;
                    border-radius: 30px;
                   
                  }
                &:hover {
                    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
                   
                  }
                .itemicon{
                    margin-top: 7px;
                    position: relative;
                    // .withoutHover{
                    //     position: absolute;
                    // }
                   
                }
                h3{
                    color: #29292B;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; 
                }
               p{
                color: #888E9E;
                font-size: 16px;
                font-style: normal;
                font-weight: 360;
                line-height: 140%; 
               }             }
        }
        .mainGridwtapFlex{
            column-gap: 15px;
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            row-gap: 15px;
            a{
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .mainMenuPages{
        padding: 15px !important;
    }
    .mainHeadTitle {
        padding: 0 !important;
    }
    .mainHeadTitle h1{
        font-size: 60px !important;
        line-height: 70px !important;
    }
    .mainHeadTitle p br{
        display: none !important;
    }
    .mainGridWrap{
        width: 100% !important;
        margin: 15px auto 0px !important;
    }
    .mainGridWrap h2{
        font-size: 26px !important;
    }
    .mainGridwtapFlex {
        grid-template-columns: 100% !important;
    }
    .mainGridwtapFlex .itemFlex {
        width: 100% !important;
    }
    }
    @media screen and (max-width: 992px) and (min-width: 768px){
        .mainMenuPages .mainHeadTitle h1 {
            font-size: 160px;
            line-height: 170px;
        }
        .mainMenuPages .mainHeadTitle {
            padding: 30px 0;
        }
        .mainMenuPages .mainGridWrap {
            width: 100%;
            margin: 0 auto 15px;
            padding: 0 15px;
        }
        .mainMenuPages .mainGridWrap .mainGridwtapFlex .itemFlex {
            width: 100%;
        }
        .mainMenuPages .mainGridWrap .mainGridwtapFlex{
            column-gap:20px;
            grid-template-columns: 48% 48%;
        }
    }
    
    @media screen and (max-width: 1180px) and (min-width: 1024px){
        .mainMenuPages .mainHeadTitle {
            padding: 30px 0;
        }
        .mainMenuPages .mainGridWrap {
            width: 100%;
            margin: 0 auto 15px;
            padding: 0 15px;
        }
        .mainMenuPages .mainGridWrap .mainGridwtapFlex .itemFlex {
            width: 100%;
        }
        .mainMenuPages .mainGridWrap .mainGridwtapFlex{
            column-gap:20px;
            grid-template-columns: 32% 32% 32%;
        }
    }