.featured-section {
    margin: 95px 0 0;
}

.featured-text p {
    color: #29292B;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 420;
    line-height: 35px;
    font-family: 'sequel_sans_semi_bold_disp' !important;
}

.brand-names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    flex-wrap: wrap;
    margin-top: 24px;
}
@media screen and (max-width: 767px) {
    .featured-section {
        margin: 30px 0 0;
    }
    .mobile-logo img {
        width: 88px;
    }
    .brand-names {
        gap: 15px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .brand-names {
        gap: 50px;
        margin-top: 15px;
    }
    .featured-section {
        margin: 30px 0 0;
    }
}