.children-wrapper {
    margin-top: 130px;
    padding-bottom: 29px;
}

.next-step {
    margin-top: 58px !important;
    margin-bottom: -130px !important;
}
.sticky-section-switch {
    transform: translate3d(0,0,0);
  }

  .children-wrapper {
    backface-visibility: hidden;
    perspective: 1000;
  }
  
  .sticky-section-switch {
    position: -webkit-sticky; /* Safari fallback */
    position: sticky;
    top: 0;
  }
.apply-container {
    position: relative;
    overflow: visible;
    /* min-height: 100vh; */
    background: #ffffff;
    z-index: 1;
}
  .commingSoonLogo{
    width: 385px;
  }
  
.children-wrapper-main{
  background: #fff;
  padding-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
    .children-wrapper {
        margin-top:80px;
    }
}